<a href="https://colab.research.google.com/github/vijaykeerthi21/DATA-CLEANING/blob/main/Data-cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#To Read a CSV file and assign the data to Df
#To avoid errors encoding ='unicode_escape' is used
df = pd.read_csv(r'/content/crop_production.csv', encoding ='unicode_escape')

DATA CLEANING

Data cleaning is all about handling the data like identifying the missing values like null values and droping those null values or replacing it with median.And also for Dealing with Duplicates

In [ ]:
df.shape
#Returns Number of(Row and Columns)

In [ ]:
#To access first 5 rows of data from dataframe(df)
df.head()

In [ ]:
#it gives a brief about data in df
#ex : column names, null values,count,data_types
df.info()

In [ ]:
#it returns number of duplicates values in df
df.duplicated().sum()

In [ ]:
df =df.drop_duplicates(keep =False)

In [ ]:
#To see the name of the columns in df
df.columns

In [ ]:
#TO return null values in df by True or False
pd.isnull(df)

In [ ]:
#it returns number of Null values in df
pd.isnull(df).sum()

In [ ]:
#to delete those null values
df.dropna(inplace = True)
# or we can assign to a new variable with (=)operator

In [ ]:
 # Replace NaN values with the mean of the column
  # df.fillna(df.mean(), inplace=True)

In [ ]:
# To change the data type of a column
df['Production']=df['Production'].astype('int')

In [ ]:
#to check whether its changed or not
df['Production'].dtypes

In [ ]:
df = df.groupby(['State_Name', 'District_Name','Crop_Year','Season','Crop']).agg({'Production':'sum','Area':'sum'})

In [ ]:
df.head()

Conclusion :This is how we can clear and clean null values or replace with another values , Data cleaning